<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Appium Sample tests ">
    <test name = "Android Scenario 1">
        <classes>
            <class name="io.github.mfaisalkhatri.AppiumTest">
                <methods>
                    <include name="testHomePageTagLine"/>
                </methods>
            </class>
        </classes>
    </test>
</suite> <!-- Suite -->