<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Appium Sample tests ">
    <test name="WebDriverIO Android Tests">
        <classes>
            <class name="io.github.mfaisalkhatri.AppiumTest">
                <methods>
                    <include name="testHomePageTitle"/>
                    <include name="testSignUp"/>
                </methods>
            </class>
        </classes>
    </test>
</suite> <!-- Suite -->